header h1{
	margin-left:50px;
	font-size: 20px; 
}

.banner {
    position: relative;
    overflow: hidden;
    width: 986px;
    display: inline-block;
}

.banner img {
    /*display: none;*/
    height: 460px;
    width: inherit;
}

.banner .banner-button {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 420px;
}

.banner .banner-button button {
    margin: 0 5px;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

header {
    width: 1226px;
    margin: 0 auto;
    height: 60px;
    background: #333;
    color: white;
    font-size: 18px;
}

header .top {
    width: 1226px;
    height: 60px;
    line-height: 60px;
}

header .top .left img {
    width: 130px;
    vertical-align: middle;
    margin-left: 100px;
}

header .top .right {
    margin-right: 100px;
}

header .top .right a {
    margin: 0 1rem;
    color: white;
}

header .top .right a img {
    width: 23px;
    vertical-align: text-bottom;
}

.banner_x .top .search {
    position: relative;
    width: 300px;
}

.banner_x .search input {
	display: inline-block;
    /*color: white;*/
    height: 30px;
    width: 200px;
    /*background-color: #4a4a4a;*/
    padding-left: 40px;
    border: 0;
    border-bottom: 1px solid #D8CEBC;
}

.banner_x .search input:focus{
    outline: none;
}

.banner_x .search input::-webkit-input-placeholder {
    /*color: white;*/
    padding-left: 40%;
}

.banner_x .search .icon-search {
    position: absolute;
    width: 40px;
    vertical-align: middle;
    top: 90px;
}