.invisible{
    display: none;
}
.visible{
    display: block;
}
/*account-information*/
.account-info li a {
}

.account-info li:not(:last-child) a::after {
    content: "|";
    margin-left: 1rem;
}

/*main*/
main {
    position: relative;
}
.icon{
    vertical-align: middle;
}
.nav-bg{
 position: absolute;
 top: 0;
 padding-top:1rem;  
 background-color: white;
 width: 100%
}
.nav-bg .nav-info {
    width: 80%;
    margin: 0 auto;

    
}
.nav-bg .nav-info .nav-list{
    display: inline-block;
    float: right;

}

.nav-bg .nav-info .nav-list ul li {
    display: inline-block;
    margin: 1.5rem;
    font-weight: 600;
    transition: color 0.5s;
}
.nav-bg .nav-list ul li:hover{
    color: red;
}
.nav-bg .nav-display {
    margin-top:2rem; 
    transition: margin-bottom 0.5s;
}
.nav-bg .nav-display ul li{
    display: inline-block;
    width: 20%;
}
.nav-bg .nav-display ul li img{
    width:50%;
}
.nav-bg .nav-display ul li h3{
    width: 100px;
    align-items: center;
}
/*banner-add*/
.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    /*display: none;*/
    width: inherit;
}