.inline-block{
    display: inline-block;
}
.listings-title{
    display: block !important;
}

#evalution .goods-info{
    margin: 2rem 0;
}
#evalution .goods-info >div textarea{
    resize: none;
    font-size: 15px;
    padding: 1rem;
}
#evalution .goods-info  .emoji{
    margin: 1rem 0;
}
#evalution .goods-info .emoji >div span{
   line-height: 50px;
    font-size: 15px;
}
#evalution .goods-info .emoji >div img{
    display: inline-block;
    margin: 0 0.5rem;
}
#evalution .submit input{
    background-color: #ffaa00;
    border-radius: 5px;
    color: white;
}
#contents{
    margin: 3rem 0;
}
